
.LANDINGPAGE_LANDINGPAGE {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
}
.LANDINGPAGE_LANDINGPAGE .Rectangle8 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 684.78px;
	height: 940.1599999999999px;
}
.LANDINGPAGE_LANDINGPAGE .logoIbeReality {
	position: absolute;
	left: 1346.9599999999998px;
	top: 13.559999999999999px;
	width: 76.83999999999999px;
	height: 50.849999999999994px;
	object-fit: cover;
	overflow: hidden;
}
.LANDINGPAGE_LANDINGPAGE .SIOCA11 {
	position: absolute;
	left: 19.209999999999997px;
	top: 13.559999999999999px;
	width: 93.669380569458px;
	height: 73.44999999999999px;
	object-fit: cover;
	overflow: hidden;
}
.LANDINGPAGE_LANDINGPAGE .Takingcareofyourdentalhealthisourdedication {
	position: absolute;
	left: 98.30999999999999px;
	top: 195.48999999999998px;
	width: 483.63999999999993px;
	height: 203.39999999999998px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 50.849999999999994px;
	font-weight: 500;
	line-height: 61.54005760192871px;
}
.LANDINGPAGE_LANDINGPAGE .DoroutinedentalcheckupsfromanywhereandanytimeeasilywithSIOCAHavehealthyteethandkeeponlaughingfreely {
	position: absolute;
	left: 98.30999999999999px;
	top: 516.41px;
	width: 483.63999999999993px;
	height: 103.96px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 22.599999999999998px;
	font-weight: 500;
	line-height: 31.19313652038574px;
}
.LANDINGPAGE_LANDINGPAGE .Frame1 {
	position: absolute;
	left: 98.30999999999999px;
	top: 645.2299999999999px;
	width: 230.51999999999998px;
	height: 66.66999999999999px;
	display: flex;
	padding-top: 14.689999999999998px;
	padding-right: 29.379999999999995px;
	padding-bottom: 14.689999999999998px;
	padding-left: 29.379999999999995px;
	box-sizing: border-box;
	background: rgba(100,8,97,1.00);
	border-radius: 56.49999999999999px;
}
.LANDINGPAGE_LANDINGPAGE .Frame1 .CHECKNOW {
	position: relative;
	flex: none;
	margin-right: 11.299999999999999px;
	width: 171.76px;
	height: 37.29px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 27.119999999999997px;
	font-weight: 700;
	line-height: 37.431767272949216px;
}
.LANDINGPAGE_LANDINGPAGE .Rectangle11 {
	position: absolute;
	left: 1048.6399999999999px;
	top: 416.96999999999997px;
	width: 279.10999999999996px;
	height: 336.73999999999995px;
	background: linear-gradient(180deg, rgba(100, 8, 97, 1.00) 0.0%, rgba(100, 8, 97, 0.55) 35.7%, rgba(100, 8, 97, 0.00) 100.0%);
	border-radius: 16.95px;
}
.LANDINGPAGE_LANDINGPAGE .Rectangle9 {
	position: absolute;
	left: 892.6999999999999px;
	top: 235.03999999999996px;
	width: 344.65px;
	height: 381.93999999999994px;
	background: rgba(255,165,176,1.00);
	border-radius: 22.599999999999998px;
}
.LANDINGPAGE_LANDINGPAGE .Rectangle10 {
	position: absolute;
	left: 761.6199999999999px;
	top: 179.67px;
	width: 168.36999999999998px;
	height: 164.98px;
	background: rgba(100,8,97,1.00);
	border-radius: 11.299999999999999px;
}
.LANDINGPAGE_LANDINGPAGE .Maskgroup {
	position: absolute;
	left: 892.6999999999999px;
	top: 235.03999999999996px;
	width: 344.65px;
	height: 381.93999999999994px;
}
.LANDINGPAGE_LANDINGPAGE .Maskgroup .Rectangle13 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 344.65px;
	height: 381.93999999999994px;
	background: rgba(255,165,176,1.00);
	border-radius: 22.599999999999998px;
}
.LANDINGPAGE_LANDINGPAGE .Maskgroup .Rectangle12 {
	position: absolute;
	left: -12.43px;
	top: 1.13px;
	width: 370.64px;
	height: 380.80999999999995px;
	object-fit: cover;
	overflow: hidden;
}
.LANDINGPAGE_LANDINGPAGE .smilefreelybeconfidence {
	position: absolute;
	left: 787.6099999999999px;
	top: 236.17px;
	width: 117.51999999999998px;
	height: 87.00999999999999px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 16.95px;
	font-weight: 500;
	line-height: 20.51335109710693px;
}
.LANDINGPAGE_LANDINGPAGE .Group38 {
	position: absolute;
	left: 761.6199999999999px;
	top: 610.1999999999999px;
	width: 128.255px;
	height: 128.255px;
}
.LANDINGPAGE_LANDINGPAGE .Group38 .Vector3 {
	position: absolute;
	left: 64.41px;
	top: 0px;
	width: 0px;
	height: 128.255px;
}
.LANDINGPAGE_LANDINGPAGE .Group38 .Vector10 {
	position: absolute;
	left: 5.163901367187499px;
	top: 39.58696777343749px;
	width: 118.492197265625px;
	height: 49.081064453124995px;
}
.LANDINGPAGE_LANDINGPAGE .Group38 .Vector8 {
	position: absolute;
	left: 39.8694677734375px;
	top: 4.881401367187499px;
	width: 49.081064453124995px;
	height: 118.4921627807617px;
}
.LANDINGPAGE_LANDINGPAGE .Group38 .Vector7 {
	position: absolute;
	left: 39.8694677734375px;
	top: 4.881401367187499px;
	width: 49.081064453124995px;
	height: 118.4921627807617px;
}
.LANDINGPAGE_LANDINGPAGE .Group38 .Vector4 {
	position: absolute;
	left: 0px;
	top: 64.41px;
	width: 128.255px;
	height: 0px;
}
.LANDINGPAGE_LANDINGPAGE .Group38 .Vector5 {
	position: absolute;
	left: 19.209999999999997px;
	top: 19.209999999999997px;
	width: 90.68994873046874px;
	height: 90.68998321533202px;
}
.LANDINGPAGE_LANDINGPAGE .Group38 .Vector6 {
	position: absolute;
	left: 19.209999999999997px;
	top: 19.209999999999997px;
	width: 90.68994873046874px;
	height: 90.68997459411621px;
}
.LANDINGPAGE_LANDINGPAGE .Group38 .Vector9 {
	position: absolute;
	left: 5.308875732421875px;
	top: 40.014442138671875px;
	width: 118.492197265625px;
	height: 49.081064453124995px;
}
.LANDINGPAGE_LANDINGPAGE .Group39 {
	position: absolute;
	left: 1244.1299999999999px;
	top: 179.67px;
	width: 102.26499999999999px;
	height: 102.26499999999999px;
}
.LANDINGPAGE_LANDINGPAGE .Group39 .Vector3_1 {
	position: absolute;
	left: 51.35775512695312px;
	top: 0px;
	width: 0px;
	height: 102.26499999999999px;
}
.LANDINGPAGE_LANDINGPAGE .Group39 .Vector10_1 {
	position: absolute;
	left: 4.11749267578125px;
	top: 31.564960937499997px;
	width: 94.48052490234375px;
	height: 39.135147094726555px;
}
.LANDINGPAGE_LANDINGPAGE .Group39 .Vector8_1 {
	position: absolute;
	left: 31.79014709472656px;
	top: 3.8922375488281244px;
	width: 39.135147094726555px;
	height: 94.48052490234375px;
}
.LANDINGPAGE_LANDINGPAGE .Group39 .Vector7_1 {
	position: absolute;
	left: 31.790216064453123px;
	top: 3.8922375488281244px;
	width: 39.135147094726555px;
	height: 94.48052490234375px;
}
.LANDINGPAGE_LANDINGPAGE .Group39 .Vector4_1 {
	position: absolute;
	left: 0px;
	top: 51.35775512695312px;
	width: 102.26499999999999px;
	height: 0px;
}
.LANDINGPAGE_LANDINGPAGE .Group39 .Vector5_1 {
	position: absolute;
	left: 15.317210693359373px;
	top: 15.317210693359373px;
	width: 72.31227539062499px;
	height: 72.31227539062499px;
}
.LANDINGPAGE_LANDINGPAGE .Group39 .Vector6_1 {
	position: absolute;
	left: 15.317210693359373px;
	top: 15.317210693359373px;
	width: 72.31227539062499px;
	height: 72.31227539062499px;
}
.LANDINGPAGE_LANDINGPAGE .Group39 .Vector9_1 {
	position: absolute;
	left: 4.233085937499999px;
	top: 31.905809326171873px;
	width: 94.48052490234375px;
	height: 39.135147094726555px;
}